@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #09a7a1;
	font-family: 'IBM Plex Mono', monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container-fluid {
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	width: 500px;
	max-width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;
}

.form-control {
	padding-bottom: 10px;
	margin-bottom: 5px;
	position: relative;
}

..form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777777;
}

.form-control.success input {
	border-color: #00ff00;
}

.form-control.error input {
	border-color: #ff0000;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fas fa-check-circle {
	visibility: visible;
	border-color: #00ff00;
}

.form-control.error i.fas fa-exclamation-circle {
	visibility: visible;
	border-color: #ff0000;
}

.form-control small {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ff0000;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	border-radius: 5px;
	border: 2px solid #09a7a1;
	background-color: orangered;
	color: #ffffff;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	display: block;
	font-weight: 700;
	font-family: inherit;
	font-size: 16px;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}
