* {
	box-sizing: border-box;
}

body {
	/*background-color: teal;*/
}

.container-fluid {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 670px;
	max-height: 100%;
}

h1 {
	font-size: 40px;
	font-weight: 700;
}

h4 {
	text-align: center;
}

h6 {
	padding: 15px;
}

#inrow2 {
	background-color: #00ff00;
}

#inrow3 {
	padding: 15px;
}

#row2 {
	background-color: cornflowerblue;
}

.scnd {
	height: fit-content;
}

.third {
	box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
	height: 180px;
}

.skl {
	margin: 15px;
}
